<footer class="main-footer">
    <div class="developer">
      <a href="https://www.linkedin.com/in/andreborgesds/" target="_blank" rel="noreferrer noopener">By André Borges</a>
    </div>

    <div class="developer">
      <a href="https://www.linkedin.com/in/andreborgesds/" target="_blank" rel="noreferrer noopener">Contato: borges.an@hotmail.com</a>
    </div>
  
    <div class="powered">
      <a href="https://www.linkedin.com/in/andreborgesds/" target="_blank" rel="noreferrer noopener">Powered by Django V1.0.1</a>
    </div>
</footer> 